@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist Sans';
    src: url('~font/Geist-Light.woff2') format('woff2'),
         url('~font/Geist-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Sans';
    src: url('~font/Geist-Regular.woff2') format('woff2'),
         url('~font/Geist-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Sans';
    src: url('~font/Geist-Medium.woff2') format('woff2'),
         url('~font/Geist-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Sans';
    src: url('~font/Geist-Bold.woff2') format('woff2'),
         url('~font/Geist-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}